#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#desc_head2{
    /* font-size: 50px;
    margin-top: 10px; */
}
#desc_head2 span{
    color: #ff0000;
    position: relative;
}
#desc_head2 span:after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    border-left: 3px solid rgb(226 232 240 / var(--tw-bg-opacity))  ;
    right:-2px;
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity)) /* #f3f4f6 */;  
/* 
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 /  var(--tw-bg-opacity)); */

    animation: text 4s infinite backwards steps(10);
}
@keyframes text{
    0%{
        left: 0;
    }
    50%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
